<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages' %>

	<p><%= f.text_field :name, placeholder: 'Имя Фамилия' %></p>
	<p><%= f.email_field :email, placeholder: 'Электронная почта' %></p>
	<p><%= f.password_field :password, placeholder: placeholder %></p>
	<p><%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля' %></p>

	<%= f.submit submit_text, class: 'btn btn-primary' %>
<% end -%>