<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
	<div class="container">
		<%= link_to "Estocada", root_path, id: "logo", class: "brand" %>
		<nav>
				<%= form_tag '#', class: "navbar-search" do %>
					<%= text_field_tag :q, nil, placeholder: "Поиск", 
																			class: "pull-left search-query" %>
				<% end -%>
			<ul class="nav pull-right">
				<li><%= link_to "Новости",		'#' %></li>
				<li><%= link_to "Мероприятия",	'#' %></li>
				<li><%= link_to "Успеваемость",	'#' %></li>				
			</ul>
		</nav>
	</div>
</div>
</header>